@media(min-width: 0) {
    .phone{
        display: block;
        font-size: 20px;
        background-color:darkolivegreen ;
    }
    .tab {
        display: none;        
    }
    .laptop{
        display: none;
    }
}

@media(min-width: 768px) {
    .phone {
        display: none;
    }
    .tab {
        display: block;
        font-size: 50px;
        background-color: darkorchid;
    }
    .laptop{
        display: none;
    }
}

@media(min-width: 1024px) {
    .phone {
        display: none;
    }
    .tab {
        display: none;
    }
    .laptop {
        display: block;
        font-size: 100px;
        background-color:firebrick;
    }
}    